# Assignment 1
## Week - 1

## 1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple
### Ans:

###### (i) string

In [14]:
a = 'Shreya'

In [15]:
type(a)

str

###### (ii) list

In [16]:
b = [2, 5, 'shreya', 24.11, True, 22+11j]

In [17]:
type(b)

list

###### (iii) float

In [18]:
c = 24.11

In [19]:
type(c)

float

###### (iv) tuple

In [20]:
d = (2,3,4,5, 'shreya', 24.11, False, 2+2j)

In [21]:
type(d)

tuple

## 2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.
- What will be the data type of the above given variable.
### Ans:

###### (i) var1 = ' '

In [22]:
var1 = ''

In [23]:
type(var1)

str

###### (ii) var2 = ‘[ DS , ML , Python]’

In [24]:
var2 = '[DS, ML, Python]'

In [25]:
type(var2)

str

###### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [26]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [27]:
type(var3)

list

###### (iv) var4 = 1

In [28]:
var4 = 1

In [29]:
type(var4)

int

## 3. Explain the use of the following operators using an example:
- (i) /
- (ii) %
- (iii) //
- (iv) **

#### Ans:
- '/' performs division.
- '%' calculates the remainder.
- '//' performs floor division, rounding down.
- '**' calculates exponentiation, raising a number to a power.

###### (i) /

- The division operator / is used to divide one number by another.
- Example: 10 / 2
- Result: 5
- In this example, 10 is divided by 2, and the result is 5. The / operator gives the quotient of the division operation.

In [30]:
4/2

2.0

In [31]:
4/3

1.3333333333333333

###### (ii) %

- The modulus operator % is used to find the remainder when one number is divided by another.
- Example: 15 % 4
- Result: 3
- In this example, 15 is divided by 4, and the remainder is 3. The % operator returns the remainder of the division.

In [32]:
4%2

0

In [33]:
4%3

1

###### (iii) //

- The floor division operator // is used to divide one number by another and round the result down to the nearest whole number.
- Example: 10 // 3
- Result: 3
- In this example, 10 is divided by 3, and the result is 3.333... When you use //, it discards the decimal part and gives you the integer result, rounding down.

In [34]:
24//2

12

In [35]:
2//2

1

###### (iv) **

- The exponentiation operator ** is used to raise a number to a certain power.
- Example: 2 ** 3
- Result: 8
- In this example, 2 raised to the power of 3 equals 8. The ** operator calculates the result of exponentiation.

In [36]:
2**3

8

In [37]:
9**2

81

## 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [38]:
a = ['29', 'False', 'Business', 4000, 24.11, True, (3j+7), (2, 10, 'b',), {'code', 101, False}, [900, 800, 700]]
for i in a:
    print("Element:", i)
    print("Datatype:", type(i))

Element: 29
Datatype: <class 'str'>
Element: False
Datatype: <class 'str'>
Element: Business
Datatype: <class 'str'>
Element: 4000
Datatype: <class 'int'>
Element: 24.11
Datatype: <class 'float'>
Element: True
Datatype: <class 'bool'>
Element: (7+3j)
Datatype: <class 'complex'>
Element: (2, 10, 'b')
Datatype: <class 'tuple'>
Element: {False, 'code', 101}
Datatype: <class 'set'>
Element: [900, 800, 700]
Datatype: <class 'list'>

## 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [41]:
A = int(input())
B = int(input())
print("Entered number A:",A)
print("Entered number B:",B)
while A%B==0:
    print("Yes, 'A' is divisible by 'B'", A//B, "times")
    break
else:
    print("No, 'A' is not divisible by 'B'")

27
3
Entered number A: 27
Entered number B: 3
Yes, 'A' is divisible by 'B' 9 times

## 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [42]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i,"is divisible by3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by3
25 is not divisible by 3

In [43]:
l = []
for i in range(25):
    l.append(i)
for i in l:
    if i % 3 == 0:
        print(i, "is divisible by 3.")
    else:
        print(i, "is not divisible by 3.")

0 is divisible by 3.
1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.

## 7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
### Ans:

#### Mutable Objects:
Mutable objects are objects whose state can be modified after creation. When we modify a mutable object, we are actually changing its contents in memory. 
###### Common examples of mutable objects in Python include:

1. Lists
2. Dictionaries
3. Sets
4. User-defined classes (if designed to be mutable
- **Note**: When we modify these objects (e.g., add or remove elements in a list), the original object's content is changed, and any references to that object will reflect the changes.
#### Immutable Objects:
Objects whose state cannot be modified after creation. Any operation that appears to "modify" an immutable object actually creates a new object with the modified state. 
###### Common examples of immutable objects in Python include:

1. Integers
2. Floats
3. Strings
4. Tuples
5. Booleans (True and False are immutable)
- **Note**: If we try to modify an immutable object, a new object is created, and the original object remains unchanged.

###### Example Mutable

In [44]:
u = ['shreya', 2,3,4,5, (2j+11), 24.11, False ]

In [45]:
type(u)

list

In [46]:
u[0]=2

In [47]:
u

[2, 2, 3, 4, 5, (11+2j), 24.11, False]

In [48]:
u[0]=8

In [49]:
u

[8, 2, 3, 4, 5, (11+2j), 24.11, False]

In [50]:
u[0]='Cool'

In [51]:
u

['Cool', 2, 3, 4, 5, (11+2j), 24.11, False]

In [52]:
u[3]=50

In [53]:
u

['Cool', 2, 3, 50, 5, (11+2j), 24.11, False]

In [54]:
u[5]='Learner'

In [55]:
u

['Cool', 2, 3, 50, 5, 'Learner', 24.11, False]

In [56]:
u[-1]='25'

In [57]:
u

['Cool', 2, 3, 50, 5, 'Learner', 24.11, '25']

###### Example Immutable

In [58]:
text = "Hello"
new_text = text + ", World"  # Creates a new string, "Hello, World"

In [59]:
new_text

'Hello, World'

In [60]:
text

'Hello'

In [61]:
x = 5
y = x  # y now holds the value 5
x = 10  # x now holds the value 10, but y remains 5

In [62]:
x

10

In [63]:
y

5